/* .post-page .image {
  max-height: 500px;
  overflow: hidden;
}
.post-page .image img {
  display: block;
  margin: auto;
  object-fit: cover;
} */

/* .post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
} */

/* .post-page time {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  color: #aaa;
} */

/* .post-page .author {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
} */

/* .edit-row {
  text-align: center;
  margin-bottom: 20px;
} */

/* .edit-btn {
  background-color: #333;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
} */

/* .edit-btn svg {
  height: 20px;
  width: 20px;
} */
